.minecraft/*
!.minecraft/resourcepacks
!.minecraft/global_packs
!.minecraft/custom_advancements
!.minecraft/defaultconfigs
!.minecraft/modlist.txt
!.minecraft/config
.minecraft/mods/.connector
.minecraft/config/*embeddium*
.minecraft/config/*.properties
.minecraft/config/plasmovoice/*
.minecraft/config/spark
.minecraft/config/jei/world
.minecraft/config/sounds
.minecraft/config/sound_physics_remastered
.minecraft/config/forge-client.toml
.minecraft/config/blockswap/known_states
.minecraft/config/fabric/indigo-renderer.properties
.minecraft/config/waterframes-client.toml
*.ini
instance.cfg
*Quark Programmer Art.zip
dev/minecraft-1.20.1-client.zip
dev/vanilla-data.zip
.minecraft/config/instrument_configs.toml
