.minecraft/*
!.minecraft/options.txt
!.minecraft/resourcepacks
!.minecraft/global_packs
!.minecraft/defaultconfigs
!.minecraft/icon.png
!.minecraft/modlist.txt
!.minecraft/mods
!.minecraft/config
.minecraft/mods/*.jar*
!.minecraft/mods/*.local*
.minecraft/mods/.connector
.minecraft/config/spark
.minecraft/config/sounds
.minecraft/config/sound_physics_remastered
.minecraft/config/fml.toml
.minecraft/config/forge-client.toml
.minecraft/config/blockswap/known_states
*.ini
instance.cfg
*Quark Programmer Art.zip
dev/minecraft-1.20.1-client.zip
dev/vanilla-data.zip
