.minecraft/*
!.minecraft/mod_data
!.minecraft/config
!.minecraft/options.txt
!.minecraft/shaderpacks
!.minecraft/resourcepacks
!.minecraft/global_packs
!.minecraft/defaultconfigs
!.minecraft/icon.png
!.minecraft/modlist.txt
.minecraft/config/spark
.minecraft/config/sounds
.minecraft/config/sound_physics_remastered
.minecraft/config/fml.toml
.minecraft/config/forge-client.toml
